@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

.cabecalho{
    background-color: #4650BD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.cabecalho_navegacao{
    display:flex;
    gap: 20px;
}

.cabecalho_navegacao_links{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.principal{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.principal_conteiner{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.principal_conteiner_imagembanner{
    transform: translate(0%, -45%);
}

.principal_conteiner_texto{
    position: absolute;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: white;
    text-decoration: none;

}    
.principal_comprar_ingresso{
    display: flex;
}

.principal_lineup{
    display: flex;
}

.principal_banner_final{
    display: flex;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #4650BD;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    align-items: center;

}

.rodape_logoRedesSociais{
    display: flex;
    flex-direction: column;
}

.rodape_logoRedesSociais_logo{
    width: 200px;
}

.rodape_logoRedesSociais_redessociais{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.rodape_informacoes{
    display: flex;
    flex-direction: column;
}